<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabemods.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/IMG_7790"
        android:label="Gabe Mods"
        android:roundIcon="@drawable/IMG_7790"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <!-- Main Activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Fragments -->
        <activity android:name=".HomeFragment"/>
        <activity android:name=".ModsFragment"/>
        <activity android:name=".GamesFragment"/>
        <activity android:name=".LearnFragment"/>
    </application>
</manifest>
