<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_7790"
        android:label="Gabe Mods"
        android:roundIcon="@drawable/img_7790"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <!-- Main Activity (Explicitly Setting `android:exported`) -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Other Activities (Set `android:exported` as needed) -->
        <activity android:name=".HomeFragment" android:exported="false"/>
        <activity android:name=".ModsFragment" android:exported="false"/>
        <activity android:name=".GamesFragment" android:exported="false"/>
        <activity android:name=".LearnFragment" android:exported="false"/>
        
    </application>

</manifest>
